body {
	padding: 0;
	background-image: url(../images/grey_wash_wall.png);
}

.head-menu.btn-group a.btn {
	border-radius: 0;
}

.app-content {
	margin: 1em inherit;
	padding: 1em 20px 1em 20px;
}

.palette-milk {
	background-color: white;
}

.small-table td {

}

.btn-active {
	box-shadow: inset 0 -2px 0 #f1f1f1;
	-webkit-transition: 0.3s;
}

@media(min-width: 800px) {
	.app-content {
		margin: 1em 20px;
		padding: auto;
	}
}